.tw-app__left{
  background: #17141f;
  height: 100vh;
  width: 20%;
  max-width: 17rem;
  min-width: 15rem;
  color:white;
}
.logo{
 align-self: center;
  width: 10rem;
  padding:1rem 2rem;

  img{
    width: 100%;
  }
}

.tw-app__left-container-inner{
  padding:1rem;
  display: flex;
  flex-direction: column;

}

.search-box{
  color:$gray;
  background: $lefthighlight ;
  font-size: 1rem;
  padding:.5rem;
}
.tw-app__left-nav{
  padding: 1rem 0;

}
.tw-app__left-nav-item{

font-size: 1rem;
height: 2rem;

span{
  font-family: sans-serif;
  padding-left: 1rem;
}
}
.tw-app__left-recommended{
    border-bottom: solid $gray 1px;
    padding-bottom: 1rem;

  h4{
  border-bottom: solid $gray 1px;
  padding-bottom: 1rem;

}
&__item{

  img{
    display:inline-block;
    position: relative;
    top: .5rem;
    //  vertical-align: middle;

  }
  h5{
    display: inline-block;
    //  vertical-align: middle;
  }
  p{
    display:inline-block;
  font-size: .3rem;
  padding-left: 2rem;
  color: $gray;


}
}
}
h5{
  text-align: center;
  padding-top: 2rem;
}
.tw-app__left-footer{
  padding-top: 1rem;

display: flex;
flex-wrap: wrap;
height: 10rem;
flex-direction: column;

.tw-app__left-footer-item{
  font-size: .7rem;
  // padding-left: 1rem;
  color: $gray;
}
}
