.tw-app {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  list-style: none;
}

.tw-app__right {
  display: flex;
  background: $brand-gray;
  overflow: auto;
}

.tw-app__center {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  padding:1rem;
}
