.tw-app {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  list-style: none;
}

.tw-app__left {
  background: $brand-black;
  color: $brand-white;
}

.tw-app__right {
  background: $brand-gray;
}
